*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

}
a{
    text-decoration: none;
}
header{
    background-image: url(../img/faja2.png);
    background-repeat: no-repeat;
    background-position-x: right; 
}
.logomobil_sp img{
    margin: 0;
    padding: 0;
    display: block;
    display: none;
}
.logo img{
    margin: 0;
    padding: 0;
}

#menu ul{
    text-align: right;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    font-size: 20px;
    display: block;
    padding: 20px 30px;
}
#menu ul li a:hover{
    background-color:rgb(255, 235, 205);
}
h1{
    color:black;
    text-align: center;
    background-color:blanchedalmond;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulos{
    color: black;
}
.destacado{
    margin: 25px;
    font-size: 25px;
    display: flex;
    text-align: center;
}
section h2{
    color: orange;
}
#carouselinicio{
    width: 650px;
    height: 350px;
}
.centrar{
    width: 450px;
    height: 350px;
}
main div{
    display: flex;
    justify-content:space-around;
}
/* Grid */
header{
    grid-area: header;
    /* background-color: lightseagreen; */
}
/* nav{
    grid-area: nav;
    background-color: lightcoral;
} */
main{
    grid-area: main;
    /* background-color: lightgoldenrodyellow; */
}
section{
    grid-area: section;
    /* background-color: lightseagreen; */
}
aside{
    grid-area: aside;
    display: flex;
    justify-content: center;
}
footer{
    grid-area: foot;
}
.grid_contenido{
    margin: 30px;
    padding: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0.5fr 0.9fr 0.5fr;
    display: flex;
    justify-content:space-around;
    
}
.destacado1{
    grid-area: destacado;
    margin: 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.img1{
    height: 450px;
    width: 300px;
    grid-area: imagen1;
    display: flex;
    justify-content:center;
}
.link1{
    grid-area: link1;
    display: flex;
    margin: 10px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.destacado2{
    grid-area: destacado;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.img2{
    height: 450px;
    width: 300px;
    grid-area: imagen1;
    display: flex;
    justify-content:center;
}
.link2{
    grid-area: link1;
    display: flex;
    margin: 10px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.destacado3{
    grid-area: destacado;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.img3{
    height: 450px;
    width: 300px;
    grid-area: imagen1;
    display: flex;
    justify-content:center;
}
.link3{
    grid-area: link1;
    display: flex;
    margin: 10px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}


/* Con @media se modifica el logo del headear cuando (max-width: 650px) 
se modifica tamaño del menu, se oculta el main y el aside*/
@media (max-width: 650px){
    .logo img{
       display: flex;
       
    }
    header{
        background-image: none;
        background-position: center;
        
    }
    div{
        display: flex;
        flex-direction: column;
    }
    #menu ul li a{
        font-size: 15px;
        display: flex;
        padding: 5px 10px;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    main{
        display: none;
    }
    aside{
        display: none;
    }
}
main h2 {
    padding: 20px;
    margin: 5px;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

/* intento aliner las redes sociales */
footer section{
    display: flex;
}
footer h3{
    padding: 25px;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#main_soluciones h2{
    padding: 20px;
    color:black;
}
#main_soluciones h3{
    color: orange;
    background-color: blanchedalmond;
    padding: 20px;
}
#main_soluciones p{
    font-weight: bold;
    text-justify: auto;
    padding: 20px 40px;
}
section h3{
    background-color:rgb(240, 235, 169)
}
section p{
    text-align: justify;
}
